@page "/newtab.html"
@inherits Blazor.BrowserExtension.Pages.BasePage

    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Blazor
                </h1>
                <h2 class="subtitle">
                    New tab page sample
                </h2>
            </div>
        </div>
    </section>
