@page "/contentscript.html"
@inherits Blazor.BrowserExtension.Pages.BasePage

    <div class="sidebar-container @(isCollapsed ? "collapsed" : "")">
        <div class="content-container">
            <div class="toggle" @onclick=Toggle>
                Toggle
            </div>
            <div class="text-container">
                <h1>My Sidebar</h1>
                <p>This sidebar content is directly injected into the page.</p>
                <p>Alternatively, you can also use an iframe to embed another page as the sidebar content. This approach is better in isolating the styling of the sidebar from being affected by the page's CSS.</p>
            </div>
        </div>
    </div>

@code {
    private bool isCollapsed = true;

    private void Toggle()
    {
        isCollapsed = !isCollapsed;
    }
} 
