.sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #68ceff;
    z-index: 999999999;
}

    .sidebar-container.collapsed {
        left: -300px;
    }

.content-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.toggle {
    position: absolute;
    width: 50px;
    height: 30px;
    right: -50px;
    top: 40%;
    box-sizing: border-box;
    text-align: center;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
    padding: 6px 4px;
}

.text-container {
    padding: 15px;
    font-size: 16px;
}

h1 {
    font-size: 3em;
}
